[user]
	name = Matt Ross
[github]
	user = amsross
[color]
	ui = auto
[alias]
	st = status
	di = diff
	ci = commit
	br = branch
	llog = log --date=local
[rerere]
	enabled = true
[pull]
        rebase = false
        default = matching
[core]
	autocrlf = false
        filemode = false
