[color]
  ui = auto
[alias]
  st = status
  di = diff
  ci = commit
  br = branch
  llog = log --date=local
[rerere]
  enabled = true
[pull]
  rebase = false
  default = matching
[core]
  autocrlf = false
  excludesfile = ~/.gitignore_global
[push]
  default = matching
[user]
  name = Matt Ross
[fetch]
  prune = true
[commit]
  gpgsign = true
[gpg]
	program = gpg
[init]
	defaultBranch = main
